body
{
    background-color: #010101;
    color: #fffff5;
    font-family: Garamond, serif;
}

#left-bar, #right-bar, #image-place, #image-place2, #text-bar
{
    position: absolute;
    text-align: center;

    /* border test */
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#left-bar
{
    width: 19.9%;
    top: 1.1%;
    left: 0.5%;
    height: 97.6%;
}

#navbar
{
    position: relative;
    text-align: center;

    background-color: grey;
    width: 77.7%;
    height: 6.3%;
    margin: 0 auto;
} 

#right-bar
{
    width: 5.8%;
    top: 1.1%;
    left: 93.55%;
    height: 97.6%;
}

#image-place
{
    top: 1.1%;
    left: 21.05%;
    width: 53.1%;
    height: 61.7%;
}

#image-place2
{
    top: 1.1%;
    left: 74.2%;
    width: 18.7%;
    height: 61.7%;
}

#text-bar
{
    height: 34.6%;
    left: 21.05%;
    width: 71.8%;
    top: 64.1%;
}

#left-button1, #left-button2, #left-button3, #left-button4
{
    width: 17%;
    height: 88%;
    text-align: center;
    padding: 5px;
    padding-top: 0px;
    position: absolute;
    
    /* border test */
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#right-button1, #right-button2, #right-button3, #right-button4
{
    margin: 0 auto;
    width: 44.5%;
    height: 5.5%;
    text-align: center;
    padding: 5px;
    padding-top: 0px;
    position: relative;

    /* border test */
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#left-button1
{

}

#left-button2
{
    left: 26.4%;
}

#left-button3
{
    left: 52.8%;
}

#left-button4
{
    left: 79.2%;
}

#right-button1
{
}

#right-button2
{
}

#right-button3
{
}

#right-button4
{
}
